body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif, Helvetica, Arial;
    background-color: #f9f9f9;
    min-width: 780px;
}

.nav {
    margin: 0;
    padding: 0;
    background-color: #333;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav-brand,
.nav-item {
    float: left;
}

.nav-brand a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}

.nav-brand img{
    display: block;
    width: 70px;
    height: 70px;
}

.nav-item a, .dropdown .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    line-height: 70px;
}

.nav-item a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.nav-item.dropdown {
    display: inline-block;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    color: #000;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 32px;
}

.dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    margin: auto;
    margin-top: 32px;
    width: 80%;
}

.success {
    color: green;
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
}

.error {
    color: red;
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
}

.field-error {
    color: red;
    display:block;
    padding: 4px 12px;
}

/** form input */
.form {
    width: 100%;
}
.form .input-row {
    width: 100%;
    font-size: 16px;
    position: relative;
    margin-bottom: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form .input-row .input-col-1 {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    display: inline-block;
    padding: 6px 0px;
}

.form .input-row .input-col-3 {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.form .input-row .input-col-3 input,
.form .input-row select,
.form .input-row textarea{
    width: 100%;
    padding: 6px 12px;
    line-height: 16px;
    font-size: 16px;
    background-color: #fff;
}

.form .input-row .input-col-3 select {
    height: 32px;
}

.form label.required::after {
    color: red;
    content: '*';
    padding-left: 4px;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}


/** form container */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 600px;
}

.form-container .row-group {
    margin-bottom: 16px;
}
.form-container .row-group label {
    display: block;
    margin-bottom: 8px;
}
.form-container .row-group input {
    line-height: 16px;
    font-size: 16px;
    padding: 6px 12px;
    width: 100%;
}

.btn {
    font-size: 16px;
    border: none;
    outline: none !important;
    border-radius: 4px;
    padding: 8px 12px;
    min-width: 80px;
}

.btnSave {
    color: #fff;
    background-color: #4CAF50;
}

.btnOK,
.btnDelete {
	color: #fff !important;
    background-color: #dc3545 !important;
}

.btnNO {
	color: #fff;
    background-color: #6c757d;
}

.btnCustom {
    padding: 6px 6px;
    border: 1px solid #ced4da;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}

/* Add a right margin to each icon */
.fa {
    margin-left: -6px;
    margin-right: 6px;
}
/** end spinner */

/* all host should be lowercase */
.lowercase {
    text-transform: lowercase;
}

/* Trial site request form */

.trial-site-request label.required::after {
    color: red;
    content: '*';
    padding-left: 4px;
    vertical-align: super;
}

.trial-site-request label {
    font-size: 1.5em;
}

.trial-site-request span.example::before {
    content: 'e.g. ';
}


/** error page */
.error-container {
    margin: auto;
    padding-top: 100px;
    width: 400px;
    height: 400px;
}

.error-container img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}

.align-center {
    text-align: center;
}
